*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.portafolio{
    background-image: url(../imgs/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav .navbar-collapse{
    justify-content: end;
}

.container .col-sm{
    padding: 15px;
    justify-content: center;
}

.card img {
    width: 100%;
    height: 200px;
}

footer{
    width: 100%;
    margin: 0;
}

.logos{
    display: flex;
    justify-content: center;
    gap: 20px;
}